<% layout('layouts/boilerplate') %>

<div class="row">
  <h1 class="text-center">Edit Campground</h1>
  <div class="col-6 offset-3">
    <form
      action="/campgrounds/<%=campground._id %>?_method=PUT"
      class="validated-form"
      method="POST"
      novalidate
      enctype="multipart/form-data"
    >
      <div class="mb-3">
        <label class="form-label" for="title">Title</label>
        <input
          required
          class="form-control"
          type="text"
          name="campground[title]"
          id="title"
          value="<%= campground.title %>"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div>
        <label class="form-label" for="location">Location</label>
        <input
          required
          class="form-control"
          type="text"
          name="campground[location]"
          id="location"
          value="<%= campground.location %>"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>

      <div class="mb-3">
        <label class="form-label" for="price">Price</label>
      </div>
      <div class="input required-group">
        <span class="input required-group-text" id="price-label">$</span>
        <input
          required
          type="text"
          class="form-control"
          id="price"
          placeholder="0.0"
          aria-label="price"
          name="campground[price]"
          value="<%= campground.price %>"
          aria-describedby="price-label"
        />
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="mb-3">
        <label class="form-label" for="description">Description</label>
        <textarea
          required
          class="form-control"
          type="text"
          name="campground[description]"
          id="title"
        >
 <%= campground.description %>
 </textarea
        >
        <div class="valid-feedback">Looks good!</div>
      </div>
      <div class="input-group mb-3">
        <label for="" class="form-label">Upload Images</label>
        <input
          type="file"
          name="image"
          multiple
          class="form-control"
          id="inputGroupFile02"
        />
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
      </div>
      <div class="mb-3">
        <% campground.images.forEach((img,i)=>{ %>
        <img src="<%= img.url %> " class="img-thumbnail" alt="" />
        <div class="form-check-inline">
          <input
            type="checkbox"
            name="deleteImages[]"
            value="<%= img.filename  %> "
            id="image-<%= i %> "
          />
        </div>
        <label for="image-<%= i %>">Delete</label>
        <% }) %>
      </div>
      <div class="mb-3">
        <button class="btn btn-success btn-lg" type="submit">
          Add Campground
        </button>
      </div>
      <a href="/campgrounds/<%= campground._id %> ">back</a>
    </form>
  </div>
</div>
